/*-- Prevent Horizontal Scrolling & Font Style --*/
html, body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
  /* color: white; */
  background: #181a1b;
}

/*-- Particles --*/
#particles-js {
  background: black;
  height: 100vh;
}

.bg-black {
  background: black;
}

/*-- Calendar --*/
.calendar {
  height: 90vh;
}

/*-- Text Colors --*/
.text-maroon {
  color:#bf2121;
}
.text-maroon:hover {
  color:#bf2121;
}

.text-black {
  color: #000;
}

/*-- Title Underline --*/
.title-underline {
  margin: 1rem auto 1.5rem;
  width: 9rem;
  height: .1rem;
  background-color: #d3d3d3;
}
.title-underline:after {
  position: absolute;
  margin: 0 auto;
  height: .2rem;
  width: 2rem;
  margin-left: -1rem;
  content: "";
  background-color: #bf2121;
}

.event-attr-title {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.border-maroon {
    margin: 0 auto;
    border-top: .3rem solid #bf2121;
}
.border-maroon-left {
    margin: 0;
    border-top: .3rem solid #bf2121;
}

/*-- Newsletter Sytles --*/
.bg-light-gray {
  background-color: #f2f2f2;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}
.form-group {
  color: black;
  margin: 0;
}
.form-control {
  background-color: white!important;
  color: black!important;
}
.form-control:focus {
  /* background: white!important; */
  color: black!important;
}

/*-- Social Media About --*/
.social-media {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
ul.social-media li {
  display: inline;
  margin: 0 7px;
}

/*-- Nav Scrolling Offset --*/
.offset:before {
  content: "";
  display: block;
  height: 4.05rem;
  margin-top: -4.05rem;
}

/*-- Remove Blue Browser Outline Around Elements --*/
a:active, a:focus,
button:active, button:focus,
textarea:hover, textarea:active, textarea:focus,
input:hover, input:active, input:focus,
#lightbox:active, #lightbox:focus {
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/*-- Maroon Links --*/
a:hover.maroon-link, a.maroon-link {
  /* color: #bf2121; */
  color: #de3c3c;
}

/*-- Pointer Cursor On Links & Buttons --*/
a, .btn, button {
   cursor: pointer!important;
}

/*============= NAVIGATION =============*/

.navbar {
  font-size: 1em;
  font-weight: 7000;
  letter-spacing: .05rem;
}
.navbar-brand img {
  height: 2rem;
}

.navbar-title {
  font-size: 2rem;
}

.custom-toggler-icon {
  color: white;
  font-size: 1.6rem;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 20px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #de3c3c;
  transition: all .4s ease;
}
.navbar.solid,
.navbar.solid-toggle {
  background: black;
  transition: background-color .5s ease 0s;
}

.navbar-nav li:hover>.dropdown-menu {
  display: block;
}

.dropdown-item:focus {
  outline:0 !important;
  background: transparent;
  color: black;
}
/*============= LANDING PAGE =============*/

/*-- Landing Page Caption --*/
.caption {
  width: 100vw;
  position: absolute;
  top: 35%;
  z-index: 1;
}

.caption h1 {
  font-size: 6rem;
  letter-spacing: .3rem;
  padding-bottom: .5rem;
}

.caption h3 {
  font-size: 4.5rem;
  padding-bottom: 2rem;
}

.home-shadow-maroon {
  text-shadow: 3px 4px 4px #bf2121;
}

.home-shadow-white {
  text-shadow: 2px 3px 2px #F8F8FF;
}

/*-- Bouncing Down Arrow --*/
.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}
a.down-arrow {
  color: white;
  font-size: 2.5rem;
}

a.down-arrow:hover {
  color: #bf2121;
}

/*============= FEATURES SECTION =============*/

.btn-sm {
  border-width: medium;
  border-radius: 0;
  padding: .5rem 1.1rem;
  font-size: .9rem;
  text-transform: uppercase;
  margin: 1rem;
}

.card {
  height: 100%;
  margin: 0 1rem;
  text-align: center;
}

.card:hover.about {
  transform: scale(.95);
}

/*============= CONTACT SECTION =============*/

.footer .row.outer {
  background-color: rgba(57, 63, 70, 0.85);
  padding: 1rem 2rem 3rem;
}

.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: black;
}

/*-- Contact Form --*/

.form-group {
  margin-bottom: 1.3rem;
}

.form-control {
  background-color: white!important;
  border-radius: 0;
  border: .15rem solid #666b71;
  font-size: 1.1rem;
}

.form-control:focus {
  background: #53595f;
  border: .15rem solid #93979b;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #b2b5b8!important;
}

input.btn {
  cursor: pointer;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
  .caption h1 {
    font-size: 6rem;
    letter-spacing: .2rem;
    padding-bottom: .6rem;
  }
  .caption h3 {
    font-size: 4rem;
    padding-bottom: 1.7rem;
  }
}

/* Md devices - under 768px */
@media (max-width: 767.98px) {
  .caption h1 {
    font-size: 5rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 3rem;
    padding-bottom: 1.2rem;
  }
}

/* Sm devices - under 576px */
@media (max-width: 575.98px) {
  .caption {
    top: 30%;
  }
  .caption h1 {
    font-size: 5em;
    letter-spacing: .1rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 2.7rem;
    padding-bottom: .5rem;
  }
}

/*============= WAYPOINTS =============*/


/*--- Prevent WayPoints from Browser Window Scrolling On Mobile --*/
/* Devices under 768px (md) */
@media (max-width: 767px) {
  .row {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

/*-- Require for waypoint to work --*/
.os-animation{
  opacity: 0;
  margin: 0!important;
  max-width: 100%;
}
.os-animation.animated {
  opacity: 1;
}

/*-- Custom Animations --*/
@keyframes homeFadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 270%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.homeFadeInUp {
  animation-name: homeFadeInUp;
}

a .fa-linkedin.about {
  /* color: #00A0DC; */
  color:#0077B5;
}
a:hover .fa-linkedin.about {
  color: #0054B5;
}
a .fa-github-square.about {
  color:#211F1F
}
a:hover .fa-github-square.about {
  color: black;
}

a .fa-envelope.about {
  color: darkslategrey;
}

a:hover .fa-envelope.about {
  color: black;
}

a .fa-link.about {
  color: grey;
}

a:hover .fa-link.about {
  color: darkslategrey;
}

/* == CALNADER ===*/
/* http://themeloom.com/2013/02/tips-embed-google-maps-and-calendars-in-a-responsive-wordpress-theme/ */
/* Responsive iFrame */
.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 90vh;
  overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}