{% extends 'base.html' %}

{% block title %} | Account Login {% endblock %}

{% block content %}
<style>
    body {
        color: #505962;
    }
</style>
<section id="login" class="py-5" style="min-height: 90vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4>
                            <i class="fas fa-sign-in-alt"></i> Login</h4>
                    </div>
                    <div class="card-body text-left">
                      
                        <!-- Alerts -->
                        {% include 'partials/_alerts.html' %}
                        
                        <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username of Email Address</label>
                                <input type="text" name="username" class="form-control" placeholder="username or tamu.edu email address" required>
                            </div>

                            <div class="form-group">
                                <label for="password2">Password</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>

                            <input type="submit" value="Login" class="btn btn-secondary btn-block">
                        </form>
                        <div class="text-right mt-2">
                          Don't have an account? <a href="{% url 'register' %}" class="card-link"><u>Sign Up</u></a>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}