{% extends 'base.html' %}

{% load static %}

{% block title %} | About Us{% endblock%}

{% block content %}
<!-- Start About Us Summary -->
<div class="container-fluid mt-3">
  <div class="row os-animation" data-animation="fadeInDown">
    <h2 class="w-100 font-weight-bold text-white text-center" style="letter-spacing: .5px;">About Us</h2>
    <hr class="w-25 border-maroon mb-2">
  </div>
  <div class="os-animation" data-animation="fadeInDown">
    <div class="row d-flext justify-content-center text-center">
      <div class="col-sm-10 col-md-8 col-lg-9">
        <p class="font-weight-bold lead text-white m-0 p-2">
          Texas A&M Cybersecurity Club is a student-led and student-run organization under the support of Texas A&M Cybersecurity Center. 
          Our goal is to develop and encourage cybersecurity skills and awareness to students willing to learn. 
          No experience is necessary so come join our meetings and events to learn, network, compete, and have fun. 
          Meetings are free and open to all Texas A&M students.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End About Us Summary -->


<!-- Officers Photos -->
<div class="container">
  <div class="os-animation" data-animation="fadeInDown">
    <div class="row">
      <h2 class="w-100 font-weight-bold text-white text-center mt-2" style="letter-spacing: .5px;">Our Team</h2>
      <hr class="w-25 border-maroon mb-4">
    </div>
  </div>
  <div class="row d-flex justify-content-center os-animation" data-animation="fadeInUp">

    <!-- team member 1 -->
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card about border-0 shadow">
        <img src="https://www.pngfind.com/pngs/m/676-6764065_default-profile-picture-transparent-hd-png-download.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Matthew Spence</h5>
          <div class="card-text text-black-50">President</div>
          <hr class="m-0 p-0 my-2">
          <ul class="social-media">
            <li>
              <a href="#"><i class="fab fa-linkedin about fa-lg"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-square about fa-lg"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-envelope about fa-lg"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-link about fa-lg"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- team member 2 -->
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card about border-0 shadow">
        <img src="https://www.pngfind.com/pngs/m/676-6764065_default-profile-picture-transparent-hd-png-download.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Arjun Lalith</h5>
          <div class="card-text text-black-50">Vice President</div>
          <hr class="m-0 p-0 my-2">
          <ul class="social-media">
            <li>
              <a href="#"><i class="fab fa-linkedin fa-lg" style="color:#0e76a8"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-square fa-lg" style="color:#211F1F"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter-square fa-lg" style="color:#00acee;"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-globe fa-lg text-dark"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- team member 3 -->
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card about border-0 shadow">
        <img src="https://www.pngfind.com/pngs/m/676-6764065_default-profile-picture-transparent-hd-png-download.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Jacob Kastenschmidt</h5>
          <div class="card-text text-black-50">Treasurer</div>
          <hr class="m-0 p-0 my-2">
          <ul class="social-media">
            <li>
              <a href="#"><i class="fab fa-linkedin fa-lg" style="color:#0e76a8"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-square fa-lg" style="color:#211F1F"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter-square fa-lg" style="color:#00acee;"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-globe fa-lg text-dark"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- team member 4 -->
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card about border-0 shadow">
        <img src="https://www.pngfind.com/pngs/m/676-6764065_default-profile-picture-transparent-hd-png-download.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Weijia Yuan</h5>
          <div class="card-text text-black-50">Public Relations</div>
          <hr class="m-0 p-0 my-2">
          <ul class="social-media">
            <li>
              <a href="#"><i class="fab fa-linkedin fa-lg" style="color:#0e76a8"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-square fa-lg" style="color:#211F1F"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter-square fa-lg" style="color:#00acee;"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-globe fa-lg text-dark"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- team member 5 -->
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card about border-0 shadow">
        <img src="https://www.pngfind.com/pngs/m/676-6764065_default-profile-picture-transparent-hd-png-download.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Teddy Heinen</h5>
          <div class="card-text text-black-50">CTF Team Lead</div>
          <hr class="m-0 p-0 my-2">
          <ul class="social-media">
            <li>
              <a href="#"><i class="fab fa-linkedin fa-lg" style="color:#0e76a8"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-square fa-lg" style="color:#211F1F"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter-square fa-lg" style="color:#00acee;"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-globe fa-lg text-dark"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- team member 6 -->
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card about border-0 shadow">
        <img src="https://www.pngfind.com/pngs/m/676-6764065_default-profile-picture-transparent-hd-png-download.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Glenn Fitzpatrick</h5>
          <div class="card-text text-black-50">CTF Co-Lead</div>
          <hr class="m-0 p-0 my-2">
          <ul class="social-media">
            <li>
              <a href="#"><i class="fab fa-linkedin fa-lg" style="color:#0e76a8"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-square fa-lg" style="color:#211F1F"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter-square fa-lg" style="color:#00acee;"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-globe fa-lg text-dark"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- team member 7 -->
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card about border-0 shadow">
        <img src="https://www.pngfind.com/pngs/m/676-6764065_default-profile-picture-transparent-hd-png-download.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Alyssa Kalish</h5>
          <div class="card-text text-black-50">CCDC Co-Lead</div>
          <hr class="m-0 p-0 my-2">
          <ul class="social-media">
            <li>
              <a href="#"><i class="fab fa-linkedin fa-lg" style="color:#0e76a8"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-square fa-lg" style="color:#211F1F"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter-square fa-lg" style="color:#00acee;"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-globe fa-lg text-dark"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- team member 8 -->
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card about border-0 shadow">
        <img src="https://www.pngfind.com/pngs/m/676-6764065_default-profile-picture-transparent-hd-png-download.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Emily Murphy</h5>
          <div class="card-text text-black-50">Event Coordinator</div>
          <hr class="m-0 p-0 my-2">
          <ul class="social-media">
            <li>
              <a href="#"><i class="fab fa-linkedin fa-lg" style="color:#0e76a8"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-square fa-lg" style="color:#211F1F"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter-square fa-lg" style="color:#00acee;"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-globe fa-lg text-dark"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- team member 9 -->
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card about border-0 shadow">
        <img src="https://www.pngfind.com/pngs/m/676-6764065_default-profile-picture-transparent-hd-png-download.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Jonathan Saenz</h5>
          <div class="card-text text-black-50">Webmaster</div>
          <hr class="m-0 p-0 my-2">
          <ul class="social-media">
            <li>
              <a href="#"><i class="fab fa-linkedin fa-lg" style="color:#0e76a8"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-square fa-lg" style="color:#211F1F"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter-square fa-lg" style="color:#00acee;"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-globe fa-lg text-dark"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}